body {
  margin: 0;
}
/*상단 위치 확인*/
#scroll_direct {z-index: 9999; position: fixed; top: 20px;  left: 20px; height: 70px; width: 70px; border-radius: 50%; background-color: rgba(0,0,0,0.7);}
#scroll_direct span {position: absolute; top: 50%; left: 50%;color: #fff; transform: translate(-50%,-50% );}

/*헤더 영역*/
#header {text-align: center;background:url(./img/바탕.png) no-repeat center top; position: relative; overflow: hidden;}
#header .ironman{height: 97vh;  width: auto;  position: absolute;  right: 0;bottom: 0;}
#header .captain{height: 97vh;  width: auto;  position: absolute;  left: 0;bottom: 0;}
#header .falcon{height: 92vh; width: auto; position: absolute; bottom: -17%; left: -13.5vh;}
#header .black{height: 92vh; width: auto; position: absolute; bottom: -11%; right: -9.4vh;}
#header .skalet{height: 87vh; width: auto; position: absolute; bottom: -27%; left: 0vh;}
#header .war_mach{height: 93vh; width: auto; position: absolute; bottom: -26%; right: 4.9vh;}
#header .winter{height: 74vh; width: auto; position: absolute; bottom: -26%; left: 23.9vh;}
#header .vision{height: 74vh; width: auto; position: absolute; bottom: -23%; right: 23.9vh;}
#header .panther{height: 69vh; width: auto; position: absolute; bottom: -26%; right: 25.9vh;}
#header .hawk{height: 69vh; width: auto; position: absolute; bottom: -30%; left: 35.9vh;}
#header .portfolio{display: block; font-family: 'Oswald', sans-serif;position: absolute; left: 50%;transform: translateX(-50%); bottom: 88px; font-size: 100px; color: #0b34d9;}
#header .name{display: block;position: absolute;font-family: 'Roboto', sans-serif; left: 50%;transform: translateX(-50%); bottom: 200px; font-size: 35px; color: #791f1f;}
#header .wanted{display: block; position: absolute; bottom: 83px; font-size: 15px; color: #999;left: 50%;transform: translateX(-50%);}

/*성격부분*/
#person {width: 100%;height: 1000px; background-color: #0c0e14; position: relative;}
#person .personality{cursor: pointer; display: block; position: absolute; left: 10px; top: 110px; font-size: 250px; line-height: 250px; color: #7aa5ff; font-family:'Roboto', sans-serif; font-weight: 500;}
#person .personality li:hover{color: #2c6fff;}
#person .person_num {cursor: default;display: block; position: absolute; left: 676px; top: 59px; color: #091022;font-size: 350px; line-height: 269px;font-family:'Roboto', sans-serif; font-weight: 500;}
#person .Narr{display: none; height: 100%; width: 100%; background-color: rgba(0,0,0,0.7);}
#person .Narr.active{z-index: 100; display: block; position: absolute; top: 0;left: 0;}
#person .Narr span {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-color: #fff;padding: 50px; width: 500px; height: 300px; color: #000;display: block;}

#Skill {background-color: #0c0e14; width: 100%; height: 1500px; position: relative;}
#Skill .cap,.iron {height: 30vh;width: auto;position: fixed;top: 50%}
#Skill .skill_box {position: relative; height: calc(100%-100px); padding-top: 100px; width: 100%;text-align: center; border-top: 50px;}
#Skill .skill_box span {opacity: 0; color:#0c0e14;font-size: 70px;transform: translateY(-50%)}
#Skill .skill_box.active{display: inline;}
.nb_left {  animation: nbleft 0.4s ease-in-out;  animation-fill-mode: forwards;}
@keyframes nbleft {
  0% {transform: translateX(-200px);opacity: 0;}
  100% {transform: translate(0); opacity: 1;}
}

#portfolio {width: 100%; height: 3000px; position: relative;}
#portfolio .port span{font-size:  150px;  position: fixed;  transform: rotate(-90deg); color: #fff;z-index: 1;}
